<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta charset="UTF-8">
    <title>关于</title>
    <script src="../static/bootstrap/js/jquery.min.js"></script>
	<script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <!--添加bootstrap-->
	<link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
	<!--添加favicon-->
	<link rel="shortcut icon" type="image/png" href="../static/img/favicon.ico"/>
	<!--block for head-->

	<style>
		/* 设置导航条链接颜色为白色 */
    	.navbar-default .navbar-nav > li > a {color: #fff;}
		html,body {	height: 100%;
			}

		a{
			color:#fff;
		}

        .content{
            box-shadow: 0 0 25px 1px rgba(50, 50, 50, 0.3);
            }
        .img{
            background:url("../static/img/sci.jpg");
            height:100px;
            text-align:center;
            background-position:left top;
            background-size:880px 580px;
            background-repeat:no-repeat;

            }
    </style>
</head>

<div class="container content">
	<div class="row">
		<div class="col-md-7 text-center">
			<h1></h1>
		</div>
	</div>
	
	
	<div class="row">	
		<!--left-->	
		<div class="col-md-4">
			<div class="text-center img">
				<div style="padding-top:5px;color:#fff;">
					<p style="font-size:18px;">
					电子信息与通信学院<br>
					</p>
				</div>
			</div>
			
		</div>
		<!--right-->
		<div class="col-md-3">
			<div style=" padding:15px 0 15px 0;box-shadow: 0 0 25px 1px rgba(50, 50, 50, 0.1);height:580px;">
				<h3 class="text-center">关于树莓派</h3>
				<div class="text-center" style="padding:15px 0 15px 0;">
					<img src="../static/img/raspi.jpg" width="240">
				</div>
				
				<div class="text-left" style="padding:20px 20px 0 20px">
					<p style="line-height:1.6;font-weight:200;" >
						Raspberry Pi,中文名为“树莓派”,简
						写为RPi,是为学习计算机编程教育而设计，					
						只有信用卡大小的微型电脑，其系统基于Linux。
						随着Windows 10 IoT的发布
						我们也将可以用上运行Windows的树莓派。
						自问世以来，受众多计算机发烧友和创客的追捧，
						曾经一“派”难求。别看其外表“娇小”，内“心”却很强大，
						视频、音频等功能通通皆有，可谓是“麻雀虽小，五脏俱全”。
					</p>
				</div>
			</div>
		
		</div>
	</div>

</div>



